@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply cursor-pointer rounded-[15px] bg-blue-500 py-3 px-7 font-semibold text-white ring-offset-2 duration-200 hover:bg-blue-500/80 hover:ring-4 hover:ring-blue-500 hover:ring-opacity-75 focus:outline-none;
    }
    .btn-secondary {
        @apply w-52 cursor-pointer rounded-[20px] bg-orange-500 py-3 text-base font-semibold text-white ring-offset-2 duration-200 hover:bg-orange-500/90 hover:ring-4 hover:ring-orange-500 hover:ring-opacity-75 focus:outline-none;
    }
    .disFlex {
        @apply flex items-center justify-center;
    }
    .hoverEfx {
        @apply duration-200 hover:opacity-50;
    }
    .flexY {
        @apply flex flex-col items-center justify-center;
    }
    .FlexYStart {
        @apply flex flex-col items-start justify-start;
    }
    .flexX {
        @apply flex items-center justify-center;
    }
    .flexXStart {
        @apply flex items-center justify-start;
    }
    .flexXBetween {
        @apply flex items-center justify-between;
    }
    .inputStyle {
        @apply w-full rounded-[1.25rem] bg-cyan-200 py-4 px-4 font-serif text-sm font-normal outline-none ring-cyan-400 focus:ring-2;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 0 0 3rem !important;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    opacity: 50%;
}

.swiper-slide-active {
    opacity: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    bottom: 0 !important;
}

@keyframes activeBullet {
    0% {
        width: 2px !important;
    }
    100% {
        width: 10px !important;
    }
}

.swiper-pagination-bullet {
    background: #fff !important;
    opacity: 100% !important;
}
.swiper-pagination-bullet-active {
    animation: activeBullet 0.5s forwards;
    background: #12a3ba !important;
}
